/*first-of-type*/

article p:first-of-type{
    color: palevioletred;
    font-weight: bold;
}

article p:last-of-type{
    color: yellowgreen;
    font-weight: bold;
} 

a{
    text-decoration: none;
}