/*width and hight*/

#main-content div{
    background-color: #ccc;
    margin: 0 0 20px 0;
}

.static-width{
    width: 300px;
    height: 200px;
    border-radius: 10px 30px;
    /*na skos*/
}

.percentage-width{
    width:  70%;
    height: 50px;
}

.inline-blocky{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: inline-block;
}